html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container-div {
    position: relative;
    height: 600px;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.slider {
    display: flex;
    position: absolute;
}

.image-slide img {
    height: 600px;
    width: 400px;
}