<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In</title>
</head>
<body>
  <% console.log(locals.currentUser) %>
  <% if (locals.currentUser) { %>
    <h1>Welcome back, <%= currentUser.username %>!</h1>
    <a href="/log-out">Log Out</a>
  <% } else { %>
    <h1>Log In</h1>
    <form action="/log-in" method="POST">
      <p>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="username">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
      </p>
      <p>
        <button type="submit">Log In</button>
      </p>
    </form>
  <% } %>
</body>
</html>