<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <% if (usernames.length > 0) { %>
    <ul>
      <% usernames.forEach((user) => { %>
        <li><%= user.username %></li>
      <% }) %> 
    </ul>
  <% } else { %>
    <p>No matching usernames</p>
  <% } %>
</body>
</html>